
@media screen and (min-width: 375px) and (max-width:800px){
    .nav__container1 img{display: none;}
    .nav__container2 a{
        display: none;
        color: white;
    }
    .main__container2{width: 200px;}
    .main__container2 img {width: 250px;}
    .nav__container1{margin-left: 60px;}
    .nav__container2 img{
        display: block;
        width: 35px;
        background-color: white;
    }
    
    .main__imgs{
        margin: 0px;
        padding: 0px;
        width: 100%;
        
    }
    .main__imgs img{
        display: block;
        width: 250px;
        margin-top: 100px;
        margin-left: 50px;
        
    }

    .main__infos{
       font-size: 2.7vh;
       width: 330px;
       margin: auto;
       margin-top: 120px;
       margin-left: 10px;
    }
    
    #container__hidden{
        width: 320px;
        margin-left: -5px;
    }
    
}

@media screen and (min-width: 800px) and (max-width:1000px){
    .nav__container1{margin-left: 70px;}
    .nav__container2{width: 1224px;}
    nav{font-size: 15px;}
    .main__container2 img{width: 350px;}
}